* {
    margin: 0;
    padding: 0;

}

.mainContainer {
    width: 100vh;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    margin: auto;
    


}

.formContainer {

    position: absolute;
    
    width: 15%;
    height: 45%;
    
    background-color: black;
    color: white;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap:30px;
    opacity: 80%;
    border-radius: 10px;
   
   
}
#submitBtn{
    cursor: pointer;
    border-radius: 4px;
    padding: 5px;
    border-radius: 4px;
    background-color: #ED3500;
}
#email{
    border-radius: 4px;
}
#pass{
    border-radius: 4px;
}
#signupText{
    cursor: pointer;
}